.page__container {
    width: 100vw;
    min-height: 100vh;
    background-color: #000000b4;
    backdrop-filter: blur(2px)
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    overflow: hidden;
}

