.page__container {
    width: 100vw;
    min-height: 100vh;

}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    overflow: hidden;
}

