.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    margin-bottom: 10%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

form input {
    background-color: rgba(41, 40, 40, 0.644);
    height: 3rem;
    width: 100%;
    border: 2px solid var(--primaryColor-dark);
    border-radius: 10px;
    color: var(--fontColor);
    font-size: 1.2rem;
}

form input:focus {
    outline: none !important;
    border:2px solid var(--primaryColor);
    box-shadow: 0 0 10px var(--primaryColor-dark);
}

form input::placeholder {
    padding: 2%;
    color: var(--fontColor);
    opacity: 0.7;
}

.inputError {
    border:2px solid red;
    box-shadow: 0 0 10px red;
}

.inputError:focus {
    border:2px solid red;
    box-shadow: 0 0 10px red;
}

.error {
    font-size: 1rem;
}

.submitBtn {
    margin-top: 4%;
    height: 2.5rem;
    width: 8rem;
    border-radius: 20px;
    background-color: var(--primaryColor);
    border: none;
    color: var(--fontColor);
    transform: scale(1);
    cursor: pointer;
}

.submitBtn:active {
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 20px -5px var(--primaryColor-light);
}