.container {
    width: 100%;
    height: auto;
    background-color:var(--lightShades-Transparent);
    border-radius: 10px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    align-self: flex-start;
    margin-left: 3%;
    margin: 3%;
    font-size: 1.3rem;
    color: var(--darkShades);
}

.recipes__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;

}

.recipes {
    background: rgb(117,166,158);
    background: linear-gradient(90deg, rgb(117, 166, 158) 0%, rgb(149, 196, 189) 38%);
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 31%;
    height: auto;
}

.recipes h3 {
    color: var(--primaryColor-dark);
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1rem;
}

.recipes h4 {
    font-size: 0.9rem;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 8%;
} 

.recipes__ingredients {
    display: flex;
    width: 99%;
    margin-left: 2%;
    margin-right: 2%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.recipes__ingredients p {
    font-size: 0.7rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    margin: 5%;
    width: auto;
    background-color:var(--lightShades-Transparent);
    border-radius: 10px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    color: black;
}