/* font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; */

:root {
    font-family: 'Quicksand', sans-serif;
    --fontColor:#ffff;
    --fontFam1: 'Oswald', sans-serif;
    --fontFam2: 'Quicksand', sans-serif;
    --darkColor:  #1E2022;
    --primaryColor-light: #84C675;
    --primaryColor-lightTransparent: #8bd16354;
    --primaryColor: #56A12A;
    --primaryColor-dark:#295C35;
    color: var(--fontColor);

    --lightShades:#F7F6F6;
    --lightShades-Transparent:#f7f6f69a;
    --lightAccent:#75A69E;
    --lightAccent-Transparent:#75a69e8c;
    --mainBrandColor:#56A120;
    --darkAccent:#7B888E;
    --darkShades: #1E2022;
}

body, main {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overscroll-behavior:none;
}

body > div { 
    min-height: 100vh;
    max-width: 100vw;
}

main {
    background-image: url(../public/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer {
    height: 10vh;
    background-color: var(--darkColor);
    overflow: hidden;
}

h1, h2 {
    font-family: var(--fontFam1);
    color: var(--mainBrandColor);
}

p {
    font-family: var(--fontFam2);
    color: var(--darkAccent);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 { 
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

button, a {
    -webkit-tap-highlight-color: transparent;
}
